.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin: 2rem 0 0 0;
  /* background-color: #5a91ea; */
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
